# dependencies
/node_modules

# next.js
/.next/
# alternativ byggekatalog via NEXT_DIST_DIR (se next.config.js)
/.next-build/
/out/

# production
/build

# env files
.env
.env.local
.env*.local
env.local

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
